body{
background:url('pexelS.jpeg')no-repeat 62% 90%;
background-size:cover;
text-align:top-left;
font-family:sans-serif;

}
.header{
margin:75;
}
.header h1{
font-size:3em;
color:#fff;
Letter-spacing:6px;
font-spacing:300;
text-transform:uppercase;

}
.main{
margin:145px 70px;
}
.submain input[type="text"],.submain input[type="password"]{
outline:none;
font-size:1.1em;
padding:20px 10px 20px 10px;
border:none;
margin:0 0 15px 0;
background:none;
border-bottom:2px solid #eee;
width 20%;
color:#ff;
font-weight:600;
}

.btn
{
font-family:arial;
text-transform:uppercase;
font-size:18px;
width:90px;
height:50px;
border-radius:80px;
line-height:60px;
text-align: center;
border:3px solid #009688;
display:block;
text-decoration:none;
margin:40px 50px;
color:#009688;
position:relative;
overflow:hidden;
background:transparent;
transition:.3s;
}

